In [33]:
# List, tuples and for loops
# Suppose you want to create a variable that carries the names of students in class
# How would you do that?
students = ['Nancy', 'Mark', 'Lisa']
print(students)

['Nancy', 'Mark', 'Lisa']

In [34]:
#What is the type of students variable? 
print(type(students))

<class 'list'>

In [35]:
#How we could access individual elements in the list
print(students[0], students[2])
# 0 and 2 are the indecis of the elements we are trying to access
#so we access the element by 
#passing its index between square brakets following the list name
#remember that the first element has an index of zero not one

Nancy Lisa

In [36]:
#How we change an element in the list
students[0]='Ahmed'
print(students)

['Ahmed', 'Mark', 'Lisa']

In [39]:
#How we can add an element to the array
students.append('Nancy')
print(students)
print(len(students))

['Ahmed', 'Mark', 'Lisa', 'Nancy', 'Nancy', 'Nancy']
6

In [40]:
#tuple is another type of variables, which allows you to define list of elements
name = ('Isaac', 'Newton')
print(name)

('Isaac', 'Newton')

In [41]:
#You could access the elements of a tuple the same way you do that with lists
print(name[0], name[1])

Isaac Newton

In [42]:
#but what is the different between tuples and lists?
#lists are mutable whereas tuples are immutable
name[0]='Mark'
#so choose tuple when you think you will not need to change the stored data
#first and last names of a student are unlikely to change

TypeError: 'tuple' object does not support item assignment

In [49]:
#now to explain loops, we will do that with examples
students = [('Isaa','Newton'),('Mark', 'Twain'), ('Mike','Kupper'), ('Nancy','Frank')]
physics_grades = [100, 40,70, 90]
English_grades = [80, 100, 50, 70]
#Now I want to print for each student the first, last names and grads
print('Student Name', students[0], 'Physics Grade', physics_grades[0], 
      'English Grade', English_grades[0])
#let's print the first and last name in a nicer way
print('Student Name', students[0][0], students[0][1], 'Physics Grade', physics_grades[0], 
      'English Grade', English_grades[0])

Student Name ('Isaa', 'Newton') Physics Grade 100 English Grade 80
Student Name Isaa Newton Physics Grade 100 English Grade 80

In [43]:
#Let's create a variable that carry the index of the element we want to access
i = 0
print('Student Name', students[i][0], students[i][1], 'Physics Grade', physics_grades[i], 
      'English Grade', English_grades[i])

Student Name A h Physics Grade 100 English Grade 80

In [47]:
# now I want the computer to automatically change this index
#this is done through loops
for i in range(4):
    print(i)

#please note the indentation
#please note that i starts at zero and ends at 3

0
1
2
3

In [28]:
# now I want the computer to automatically change this index
#this is done through loops
for i in range(4):
    print('Student Name', students[i][0], students[i][1], 'Physics Grade', physics_grades[i], 
      'English Grade', English_grades[i])
#please not the indentation

Student Name Isaa Newton Physics Grade 100 English Grade 80
Student Name Mark Twain Physics Grade 40 English Grade 100
Student Name Mike Kupper Physics Grade 70 English Grade 50
Student Name Nancy Frank Physics Grade 90 English Grade 70

In [29]:
# i starts at zero and ends at 3
for i in range(4):
    print(i, 'Student Name', students[i][0], students[i][1], 'Physics Grade', physics_grades[i], 
      'English Grade', English_grades[i])

0 Student Name Isaa Newton Physics Grade 100 English Grade 80
1 Student Name Mark Twain Physics Grade 40 English Grade 100
2 Student Name Mike Kupper Physics Grade 70 English Grade 50
3 Student Name Nancy Frank Physics Grade 90 English Grade 70

In [52]:
#another way to loop over elements in for loops is
students = [('Isaa','Newton'),('Mark', 'Twain'), ('Mike','Kupper'), ('Nancy','Frank')]
physics_grades = [100, 40,70, 90]
English_grades = [80, 100, 50, 70]
#i is a tuple
for i in students:
    print(i)
#i is an index
for i in range(4):
    print(students[i])
#i now is not an index, i is an object (tuple) that is chaning each iteration

('Isaa', 'Newton')
('Mark', 'Twain')
('Mike', 'Kupper')
('Nancy', 'Frank')
('Isaa', 'Newton')
('Mark', 'Twain')
('Mike', 'Kupper')
('Nancy', 'Frank')

In [31]:
#but we want to loop over several list
for i,j,k in zip(students, physics_grades, English_grades):
    print('Student Name', i[0], i[1], 'Physics Grade', j, 
      'English Grade', k)

Student Name Isaa Newton Physics Grade 100 English Grade 80
Student Name Mark Twain Physics Grade 40 English Grade 100
Student Name Mike Kupper Physics Grade 70 English Grade 50
Student Name Nancy Frank Physics Grade 90 English Grade 70